/* Apply background image to the entire body */
body {
    background-image: url('../images/texture_2.png');
    background-size: cover; /* This will scale the image to cover the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove any default margin around the body */
    padding: 0; /* Remove any default padding */
}

/* Apply styles to body and HTML */
html, body {
    height: 100%;
    margin: 0;
}

/* Apply styles to header */
header {
    padding-bottom: 1rem 0;
}
